h1 {
    color: rgb(255, 0, 174);
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: cornflowerblue;
}

body {
    background-color: slategray;
}